[Tt]humbs.db
*.DS_Store
*.gv
~$*
*.dot
*~
*.p
*.P
/scripts/testdir/*
*.jar
*.sql
notes.txt
/input/*
/graphbuild/gbuild/build-app/target/*
/graphbuild/gbuild/build-app/*.pdf
*.pyc
*/__pycache__/*
/bnbuilder/*bag*/
*.eps
/bnbuilder/testag/
*.json
*.csv
/mapper/train/*
/mapper/model_saves/*
/bnbuilder/tests/
/simulator/tests/test_junk/